
.container header{
  width: 100%;
  font-size: 15px;
  margin: 84px 0 24px;
  display: flex;
  gap: 820px;
}

.container img{
    width:60px;
    height:60px;
    border-radius: 30px;
    margin-left: 7px;
}

.container header div{
    display: flex;
    align-items: center;
    
}